.message_box {
    -fx-background-color: #F5F5F5;
}

.input {
    -fx-background-color: #FFFFFF;
    -fx-wrap-text: true;
    -fx-font-size: 16px;
}

.title {
    -fx-font-size: 20px;
}

.action {
    -fx-border-width: 1px;
    -fx-border-color: #F5F5F5;
    -fx-pref-width: 80px;
    -fx-pref-height: 30px;
    -fx-font-size: 16px;
    -fx-wrap-text: true;
}

.action:hover {
    -fx-background-color: #129611;
}

/**
设置文本域的阴影颜色
 */
.text-area {
    -fx-background-insets: 0;
    -fx-background-color: transparent, white, transparent, white;
}

.text-area .content {
    -fx-background-color: transparent, white, transparent, white;
}

.text-area:focused {
    -fx-background-color: transparent, white, transparent, white;
}