.bullet {

}

.pagination {

}

.pagination .pagination-control {
    visibility: hidden;
}
.user_information {
    -fx-font-size: 18px;
}

.login_action {
    -fx-pref-width: 200px;
    -fx-text-fill: white;
    -fx-font-size: 18px;
    -fx-background-color: #ff8201;
}