.left_menu_bar {
    -fx-background-color: #28292C;
}

.left_box_context {
    -fx-background-color: #EAE8E7;
}

.center_box {
    -fx-background-color: white;
}

.bullet {

}

.pagination {

}


.pagination .pagination-control {
     visibility: hidden;
 }